aws_access_key     = "AKexample"
aws_iam_access_key = "AKexample"
aws_iam_secret_key = "example"
aws_region         = "us-west-2"
aws_secret_key     = "example"
domain             = "drjohndee.net"

google_site_verification = {
  "admin@example.org" = "example-key",
}

namecheap_api_key     = "examplekey"
namecheap_api_user    = "exampleuser"
namecheap_ip          = "10.0.0.1"
namecheap_username    = "exampleuser"
namecheap_use_sandbox = true
