{%- assign key = include.source_key -%}
{%- assign data = key | source_citation_data -%}
{%- assign author_key = include.author_key | default: data.author_key -%}

{%- if data -%}
  {%- assign author = author_key | collection_entry: "people" -%}

  {%- if author.name -%}
  <a href='{{ author_key | person_permalink }}' class='data-person'>
    {%- assign givenName = author.name | where: "type", "givenName" -%}
    {%- assign familyName = author.name | where: "type", "familyName" -%}
    {{ familyName | map: "text" | join: " " }}
    {%- if givenName and familyName -%},&#32;{%- endif -%}
    {{ givenName | map: "text" | join: " " }}</a>.&#32;
  {%- elsif author_key -%}
  <span class='data-person is-unknown-reference'>{{ data.author_key }}</span>.&#32;
  {%- endif -%}

  <a href='{{ data.source_key | source_permalink }}'
     class='data-source data-source--{{ data.publication_type | downcase }}'>
    {%- if data.editor_key -%}
      {{ data.work_name }}</a>, edited by
      <a href='{{ data.editor_key | person_permalink }}' class='data-person'>
      {%- if data.editor_name -%}
        {{ data.editor_name.givenName | join: " " }}
        {%- if data.editor_name.familyName and data.editor_name.givenName -%}&#32;{%- endif -%}
        {{ data.editor_name.familyName | join: " " }}
      {%- else -%}
        {{ data.editor_key }}
      {%- endif -%}</a>.&#32;
    {%- else -%}
      {{ data.work_name }}</a>.&#32;
    {%- endif -%}

  {{ data.publication_city }},
  {{ data.publisher }},
  {{ data.publication_date }}.
{%- else -%}
🤷{{ key }}
{%- endif -%}

{% comment %}
Author. Title. Title of container (do not list container for standalone books, e.g. novels), Other contributors (translators or editors), Version (edition), Number (vol. and/or no.), Publisher, Publication Date, Location (pages, paragraphs URL or DOI). 2nd container’s title, Other contributors, Version, Number, Publisher, Publication date, Location, Date of Access (if applicable).

Last Name, First Name. Title of Book. City of Publication, Publisher, Publication Date.
*Note: the City of Publication should only be used if the book was published before 1900, if the publisher has offices in more than one country, or if the publisher is unknown in North America.
{% endcomment %}
