{%- assign entry = include.entry -%}
{%- assign hyperlink = include.hyperlink | default: false -%}
{%- assign title_tag = include.title_tag | default: "span" -%}

{%- if entry.location -%}
{%- assign country = entry.location.country | default: entry.author.country -%}
{%- else -%}
{%- assign country = entry.author.country -%}
{%- endif -%}

<{{ title_tag }} class="post-title p-name" itemprop="name headline">
  {%- if hyperlink -%}
  <a class=post-link href="{{ entry.url | relative_url }}">
    {{ entry.raw_timestamp | time_tag: country, "datePublished" }}
  </a>
  {%- else -%}
  {{ entry.date | time_tag: country, "datePublished" }}
  {%- endif -%}
</{{ title_tag }}>

{%- assign source_record = entry.source | collection_entry: "sources" -%}
{%- assign author = entry.author | default: source_record.author -%}
{%- if author -%}
<span class=post-author>
  <span itemprop=author class="p-author h-card">
    {{ author | person_tag }}
  </span>
</span>
{%- endif -%}
