{%- if include.references.size > 0 -%}
<aside class="annotations annotations-footnotes">
  <ul>
    {%- for reference in include.references -%}
    {%- assign footnote = reference | collection_entry: "footnotes" -%}
    <li>
      {%- if footnote -%}
      {%- assign author = footnote.author | collection_entry: "people" -%}
      {%- assign source = footnote.source | collection_entry: "sources" -%}
      {%- assign language = footnote.language | default: source.language | default: author.language | default: site.language | default: "en" -%}
      <figure lang={{language}} translate>
        {{ footnote.text | liquify }}
        {%- if footnote.source -%}
        <figcaption>
          {%- include citation.html author_key=footnote.author source_key=footnote.source source_location=footnote.source_location -%}
        </figcaption>
        {%- endif -%}
      </figure>
      {%- else -%}
      Missing footnote: {{ reference }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</aside>
{%- endif -%}
