<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <p>
    {%- if site.description -%}
    {{ site.description | escape }}
    {% endif -%}
    {% if site.author -%}
    {% if site.author.name -%}
    Created by <span class="p-name">{{ site.author.name | escape }}</span>.
    {% endif -%}
    {% if site.author.email -%}
    <a class="u-email" href="mailto:{{ site.author.email }}">Send feedback to
      {{ site.author.email }}</a>
    {%- endif -%}
    {%- endif -%}
  <p>
    <a href=/license.html rel=license>Copyright and license policy</a>;
    <a href=/contributing.html>how to contribute to this project</a>;
    <a href=https://github.com/stilist/john-dee>view the project’s source files</a>.
    This website doesn’t track you.
</footer>
