@charset "utf-8";

:root {
  /* @see https://www.colorbox.io/#steps=11#hue_start=51#hue_end=31#hue_curve=easeInQuad#sat_start=1#sat_end=1#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=0#lum_curve=easeOutQuad#minor_steps_map=0 */
  --neutral-0--components: 1 1 0.9882; /* #fffffc */
  --neutral-0: #fffffc;
  --neutral-10--components: 0.9843 0.9804 0.9725; /* #fbfaf8 */
  --neutral-10: #fbfaf8;
  --neutral-20--components: 0.9569 0.9529 0.9412; /* #f4f3f0 */
  --neutral-20: #f4f3f0;
  --neutral-30--components: 0.9137 0.9098 0.9020; /* #e9e8e6 */
  --neutral-30: #e9e8e6;
  --neutral-5--components: 0.9922 0.9882 0.9804; /* #fdfcfa */
  --neutral-5: #fdfcfa;
  /* foreground color inverts here */
  --neutral-100--components: 0 0 0; /* #000 */
  --neutral-100: #000;
  --neutral-40--components: 0.8510 0.8510 0.8431; /* #d9d9d7 */
  --neutral-40: #d9d9d7;
  --neutral-50--components: 0.7725 0.7686 0.7608; /* #c5c4c2 */
  --neutral-50: #c5c4c2;
  --neutral-60--components: 0.6667 0.6627 0.6549; /* #aaa9a7 */
  --neutral-60: #aaa9a7;
  --neutral-70--components: 0.5294 0.5294 0.5255; /* #878786 */
  --neutral-70: #878786;
  --neutral-80--components: 0.3686 0.3686 0.3647; /* #5e5e5d */
  --neutral-80: #5e5e5d;
  --neutral-90--components: 0.1882 0.1843 0.1843; /* #302f2f */
  --neutral-90: #302f2f;
  /* @see https://www.colorbox.io/#steps=11#hue_start=39#hue_end=11#hue_curve=easeInQuad#sat_start=4#sat_end=90#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=53#lum_curve=easeOutQuad#minor_steps_map=0 */
  --accent-0--components: 1.0000 0.9804 0.9490; /* #fffaf2 */
  --accent-0: #fffaf2;
  --accent-10--components: 0.9922 0.8980 0.7333; /* #fde5bb */
  --accent-10: #fde5bb;
  --accent-20--components: 0.9804 0.8078 0.5255; /* #face86 */
  --accent-20: #face86;
  --accent-30--components: 0.9608 0.7137 0.3412; /* #f5b657 */
  --accent-30: #f5b657;
  --accent-40--components: 0.9294 0.6157 0.1882; /* #ed9d30 */
  --accent-40: #ed9d30;
  --accent-5--components: 0.9961 0.9412 0.8992; /* #fef0d6 */
  --accent-5: #fef0d6;
  --accent-50--components: 0.8941 0.5098 0.0745; /* #e48213 */
  --accent-50: #e48213;
  --accent-60--components: 0.8431 0.4000 0; /* #d76600 */
  --accent-60: #d76600;
  /* foreground color inverts here */
  --accent-100--components: 0.5294 0.0980 0; /* #871900 */
  --accent-100: #871900;
  --accent-70--components: 0.7803 0.3176 0; /* #c75100 */
  --accent-70: #c75100;
  --accent-80--components: 0.6020 0.2352 0; /* #b33c00 */
  --accent-80: #b33c00;
  --accent-90--components: 0.6196 0.1568 0; /* #9e2800 */
  --accent-90: #9e2800;

  --invalid-data--components: 1 0 0.88; /* #f0c */
  --invalid-data: #f0c;

  --base-font-size: 18px;
  --font-serif: EB Garamond, Garamond, Times, Times New Roman, serif;
  --font-sans-serif: system-ui, sans-serif;

  --foreground: var(--neutral-100);
  --background: var(--neutral-0);

  --primary-column-count: 9;
  --spacing-column-count: 1;
  --secondary-column-count: 5;
  --column-count: calc(var(--primary-column-count)
                     + var(--spacing-column-count)
                     + var(--secondary-column-count));
  --column-width: 5rem;
  --gutter-width: 0.5rem;
  --content-width: calc(var(--column-count) * var(--column-width)
                      + calc(var(--column-count) - 1) * var(--gutter-width));

  --vertical-rhythm: calc(var(--gutter-width) * 2);
}
@media (prefers-reduced-data: reduced) {
  :root {
    --font-serif: Garamond, Times, Times New Roman, serif;
  }
}
@supports (color: hsl(1 1 1)) {
  :root {
    --accent-0: hsl(var(--accent-0--components));
    --accent-5: hsl(var(--accent-5--components));
    --accent-10: hsl(var(--accent-10--components));
    --accent-20: hsl(var(--accent-20--components));
    --accent-30: hsl(var(--accent-30--components));
    --accent-40: hsl(var(--accent-40--components));
    --accent-50: hsl(var(--accent-50--components));
    --accent-60: hsl(var(--accent-60--components));
    --accent-70: hsl(var(--accent-70--components));
    --accent-80: hsl(var(--accent-80--components));
    --accent-90: hsl(var(--accent-90--components));
    --accent-100: hsl(var(--accent-100--components));
    --neutral-0: hsl(var(--neutral-0--components));
    --neutral-5: hsl(var(--neutral-5--components));
    --neutral-10: hsl(var(--neutral-10--components));
    --neutral-20: hsl(var(--neutral-20--components));
    --neutral-30: hsl(var(--neutral-30--components));
    --neutral-40: hsl(var(--neutral-40--components));
    --neutral-50: hsl(var(--neutral-50--components));
    --neutral-60: hsl(var(--neutral-60--components));
    --neutral-70: hsl(var(--neutral-70--components));
    --neutral-80: hsl(var(--neutral-80--components));
    --neutral-90: hsl(var(--neutral-90--components));
    --neutral-100: hsl(var(--neutral-100--components));
    --invalid-data: hsl(var(--invalid-data--components));
  }
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --neutral-0: color(display-p3 var(--neutral-0--components));
    --neutral-5: color(display-p3 var(--neutral-5--components));
    --neutral-10: color(display-p3 var(--neutral-10--components));
    --neutral-20: color(display-p3 var(--neutral-20--components));
    --neutral-30: color(display-p3 var(--neutral-30--components));
    /* foreground color inverts here */
    --neutral-40: color(display-p3 var(--neutral-40--components));
    --neutral-50: color(display-p3 var(--neutral-50--components));
    --neutral-60: color(display-p3 var(--neutral-60--components));
    --neutral-70: color(display-p3 var(--neutral-70--components));
    --neutral-80: color(display-p3 var(--neutral-80--components));
    --neutral-90: color(display-p3 var(--neutral-90--components));
    --neutral-100: color(display-p3 var(--neutral-100--components));
    --accent-0: color(display-p3 var(--accent-0--components));
    --accent-5: color(display-p3 var(--accent-5--components));
    --accent-10: color(display-p3 var(--accent-10--components));
    --accent-20: color(display-p3 var(--accent-20--components));
    --accent-30: color(display-p3 var(--accent-30--components));
    --accent-40: color(display-p3 var(--accent-40--components));
    --accent-50: color(display-p3 var(--accent-50--components));
    --accent-60: color(display-p3 var(--accent-60--components));
    /* foreground color inverts here */
    --accent-70: color(display-p3 var(--accent-70--components));
    --accent-80: color(display-p3 var(--accent-80--components));
    --accent-90: color(display-p3 var(--accent-90--components));
    --accent-100: color(display-p3 var(--accent-100--components));
    --invalid-data: color(display-p3 var(--invalid-data--components));
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--neutral-0);
    --background: var(--neutral-100);
  }
}
@media (min-width: 2200px) {
  :root {
    --column-width: 7rem;
  }
}
@media (max-width: 960px) {
  :root {
    --primary-column-count: 5;
    --secondary-column-count: 3;
  }
}

:lang(cy) {
  quotes: '‘ ' ' ’' '“ ' ' ”';
}
:lang(dk) {
  quotes: "»" "«" "›" "‹";
}
:lang(en),
:lang(en-emodeng) {
  quotes: '‘' '’' '“' '”';
}
*[lang|="fr"] {
  quotes: "« " " »" "‹ " " ›";
}
:lang(gr),
q[lang|="en-Grek"],
q[lang|="la"] {
  quotes: "«" "»" "“" "”" "‘" "’";
}
:lang(ja) {
  quotes: "「" "」" "『" "』";
}
:lang(en-modeng),
:lang(la-medieval),
:lang(la-renais) {
  font-variant-alternates: historical-forms;
  font-variant-ligatures: historical-ligatures;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--base-font-size);
}
body {
  background-color: var(--background);
  color: var(--foreground);
  color-scheme: light dark;
  font-family: var(--font-sans-serif);
  line-height: 1rem;
  margin: calc(var(--vertical-rhythm) * 3) auto
          calc(var(--vertical-rhythm) * 2) auto;
  min-height: 100vh;
  width: var(--content-width);
}
a {
  color: var(--accent-80);
}
a:visited {
  color: var(--accent-100);
}
a:hover {
  color: var(--accent-60);
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--accent-30);
  }
  a:visited {
    color: var(--accent-40);
  }
  a:hover {
    color: var(--accent-10);
  }
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: var(--vertical-rhythm);
}
ol > li,
ul > li {
  line-height: var(--vertical-rhythm);
  margin-bottom: var(--vertical-rhythm);
}
ol ol, ol ul,
ul ol, ul ul {
  margin-bottom: 0;
  margin-left: calc(var(--gutter-width) * 4);
  margin-top: var(--vertical-rhythm);
}
blockquote {
  color: var(--neutral-80);
  padding-left: calc(var(--gutter-width));
  position: relative;
}
blockquote::before {
  background-color: var(--neutral-40);
  bottom: 0.5em;
  content: '';
  left: calc(var(--gutter-width) * -0.5);
  position: absolute;
  top: 0.5em;
  width: 4px;
}
@media (prefers-color-scheme: dark) {
  blockquote {
    color: var(--neutral-40);
  }
  blockquote::before {
    background-color: var(--neutral-80);
  }
}
blockquote > :last-child {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.125;
  margin: calc(var(--vertical-rhythm) * 1.8) 0
          var(--vertical-rhythm);
}
h3 {
  font-size: 1.625rem;
  margin-top: 2.5rem;
}
h2 + h3 {
  margin-top: 0;
}
h4 {
  font-size: 1.25rem;
}
ins::before,
ins::after {
  font-family: var(--font-sans-serif);
}
ins::before {
  content: '[';
}
ins::after {
  content: ']';
}
p {
  line-height: calc(var(--vertical-rhythm) * 2);
}


#site-header {
  margin-bottom: calc((var(--vertical-rhythm) * 4.1));
}
#site-header h1 {
  cursor: default;
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(var(--vertical-rhythm) * 2.4);
  margin: 0;
  text-align: left;
}


.page,
.post {
  column-gap: var(--gutter-width);
  display: grid;
  grid-template-columns: repeat(auto-fit,
                                var(--column-width));
  grid-template-rows: auto auto auto;
}
.page {
  grid-template-areas:
    "header   header   header   header   header   header   header    header    header    header    header    header    header    header    header   "
    "metadata metadata metadata metadata metadata metadata metadata  metadata  metadata  metadata  metadata  metadata  metadata  metadata  metadata "
    "content  content  content  content  content     .     footnotes footnotes footnotes footnotes footnotes footnotes footnotes footnotes footnotes"
    "events   events   events   events   events      .     footnotes footnotes footnotes footnotes footnotes footnotes footnotes footnotes footnotes";
}
.post {
  grid-template-areas:
    "header    header    header    header    header  header     header     header     header     header header header header header header"
    "content   content   content   content   content content    content    content    content      .    events events events events events"
    "footnotes footnotes footnotes footnotes    .    references references references references   .    events events events events events";
}
.page-header,
.post-header {
  grid-area: header;
}
.page-header {
  margin-bottom: calc(var(--vertical-rhythm) * 2.4);
}
.post-header {
  margin-bottom: calc(var(--vertical-rhythm) * 0.4);
}
.post-header p {
  margin-bottom: calc(var(--vertical-rhythm) * 0.6);
  margin-top: calc(var(--vertical-rhythm) * 1.1);
  padding: calc(var(--vertical-rhythm) * 2.5) 0 0;
}
.page-name,
.post-title,
.source-title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: calc(var(--vertical-rhythm) * 3);
  margin-bottom: calc(var(--vertical-rhythm) * 1.4);
  position: relative;
}
.post-subtitle,
.source-subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: calc(var(--vertical-rhythm) * 2);
  margin-top: var(--vertical-rhythm);
}
.post-summary {
  max-width: calc(var(--primary-column-count) * var(--column-width)
           + calc(var(--primary-column-count) - 1) * var(--gutter-width));
}
.page-metadata {
  column-count: calc(var(--column-count) / 3);
  column-gap: var(--gutter-width);
  font-size: 1.0rem;
  grid-area: metadata;
  margin-bottom: calc(var(--vertical-rhythm) * 3);
}
.page-metadata dt {
  break-after: column;
  font-weight: bold;
}
.page-metadata dd {
  break-inside: avoid;
  margin-bottom: calc(var(--vertical-rhythm) * 1.4);
}
.page-content {
  font-family: var(--font-serif);
  font-size: 1.3rem;
  line-height: 1.6rem;
  grid-area: content;
}
.entries {
  grid-area: content;
  list-style: none;
  margin-bottom: calc(var(--vertical-rhythm) * 4);
  position: relative;
}
.entries::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--foreground);
  bottom: -1rem;
  left: 50%;
  margin-left: -15%;
  position: absolute;
  width: 30%;
}
.h-entry .citation {
  display: block;
  line-height: 1.4rem;
  margin-bottom: calc(var(--vertical-rhythm) * 1);
}
.post-content {
  font-family: var(--font-serif);
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: calc(var(--vertical-rhythm) * 2);
}
.post-content blockquote {
  margin-bottom: var(--vertical-rhythm);
  margin-top: var(--vertical-rhythm);
}
.post-content p:last-child {
  margin-bottom: 0;
}

.annotations {
  font-size: 1.1rem;
}
.annotations-events {
  grid-area: events;
}
.annotations-footnotes {
  grid-area: footnotes;
}
.annotations-references {
  grid-area: references;
}
.annotations li {
  list-style: none;
}
.annotations li + li {
  margin-top: calc(var(--vertical-rhythm) * 2);
}
.annotations blockquote {
  font-family: var(--font-serif);
  margin-top: calc(var(--vertical-rhythm) * 0.1);
}
.annotations blockquote::before {
  width: 2px;
}
.annotations figcaption {
  font-size: 1.0rem;
  line-height: 2rem;
}
.data-source--book {
  font-style: italic;
}

#scale {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--content-width);
  right: 0;
  margin: 0 auto;
  pointer-events: none;
  z-index: -1;
}
#scale .row {
  display: flex;
  border-bottom: 1px solid var(--foreground);
  opacity: 0.4;
}
#scale span {
  background-color: #f00;
  display: block;
  height: calc(var(--vertical-rhythm) - 1px);
  opacity: 0.4;
  width: var(--column-width);
}
#scale span + span {
  margin-left: var(--gutter-width);
}
#scale span:nth-child(n+16) {
  display: none;
}
@media (max-width: 960px) {
  #scale span:nth-child(n+9) {
    display: none;
  }
}
.debug time,
.debug .is-unknown-reference {
  background-color: var(--invalid-data);
  color: var(--background);
}
.debug time[datetime] {
  background-color: transparent;
  color: inherit;
}
.debug time[datetime],
.debug .data-money,
.debug .data-person,
.debug .data-place,
.debug .data-source {
  margin-left: 1.3em;
  position: relative;
}
time[datetime]::before,
.data-money::before,
.data-person::before,
.data-place::before,
.data-source::before {
  font-size: 0.8em;
  font-style: normal;
  left: -1.7em;
  position: absolute;
}
.debug time[datetime]::before {
  content: '📅';
}
.debug time[datetime*='T']::before {
  content: '⌚️';
}
.debug .data-event::before {
  content: '📰';
}
.debug .data-money::before {
  content: '🪙';
}
.debug .data-person::before {
  content: '👤';
}
.debug .data-place::before {
  content: '🗺';
}
.debug .data-source::before {
  content: '📚';
}
.debug #scale {
  display: block;
}
