---
layout: default
---
<article class='post'>
  <a class=u-url href="{{ page.url | relative_url }}" hidden></a>
  <header class=post-header>
    <h1 class='post-title p-name' itemprop='name headline'>
      {{ page.raw_timestamp | time_tag: "England", "datePublished" }}
    </h1>
  </header>

  <ul class='entries'>
    {%- assign entries = page.raw_timestamp | entries_for_date -%}
    {%- for entry in entries -%}
    {%- assign source_data = entry.source | source_citation_data -%}
    {%- assign language = entry.language | default: source_data.language -%}
    <li class='h-entry'
        itemscope itemtype=http://schema.org/BlogPosting
        lang='{{ language }}' translate>
      {%- include citation.html source_key=entry.source source_location=entry.source_location -%}

      {%- assign author = entry.author | default: source_record.author -%}
      {%- if author -%}
      <span class=post-author>
        <span itemprop=author class='p-author h-card'>
          {{ author | person_tag }}
        </span>
      </span>
      {%- endif -%}

      <div class='post-content e-content'
           itemprop=articleBody>
        <p>{{ entry.content | liquify }}
      </div>
    </li>
    {% endfor %}
  </ul>

  {%- include annotations.html reference=page -%}
  {%- include references.html reference=page -%}
</article>
