---
layout: default
---
<article class="post h-entry" itemscope itemtype=http://schema.org/BlogPosting>
  {%- assign author = page.author | collection_entry: "people" -%}

  <header class=post-header>
    {%- include entry_title.html entry=page title_tag="h1" -%}

    {%- assign source_data = page.source | source_citation_data -%}
    {%- if source_data -%}
    <a href='{{ page.source | source_permalink }}'
       class='data-source data-source--{{ source_data.publication_type | downcase }}'>
      {{ source_data.work_name }}
    </a>
    {%- endif -%}
  </header>

  <div class="post-content e-content"
       itemprop=articleBody
       lang={{ page.language | default: source_data.language | default: site.lang | default: "en" }}>
    {{ content }}
  </div>

  {%- include annotations.html reference=page -%}
  {%- include references.html reference=page -%}

  <a class=u-url href="{{ page.url | relative_url }}" hidden></a>
</article>
