---
layout: default
---
{%- assign record = page.key | collection_entry: "sources" -%}
<article class="page">
  {%- if record.id -%}
  <link itemprop=sameAs href={{ record.id }}>
  {%- endif -%}
  {%- if record.oclc_number -%}
  <link itemprop=oclc_number href={{ record.oclc_number }}>
  {%- endif -%}

  {%- assign author = record.author | collection_entry: "people" -%}
  {%- assign language = record.language | default: author.language | default: site.language | default: "en" -%}
  <header class="page-header data-source" lang={{language}}>
    <h1 class="page-name source-title">
      {{ record.title }}
    </h1>
    {%- if record.subtitle -%}
    <h2 class="page-subtitle source-subtitle">
      {{ record.subtitle }}
    </h2>
    {%- endif -%}
  </header>

  <dl class="page-metadata">
    <dt>Author</dt>
    <dd>
      {%- if record.author -%}
      {{ record.author | person_tag }}
      {%- else -%}
      <span class="is-unknown-reference">(unknown author)</span>
      {%- endif -%}
    </dd>

    {%- if record.date -%}
    <dt>Published</dt>
    <dd>
      <time datetime='{{ record.date }}' itemprop=datePublished>
        {{ record.date }}
      </time>
    </dd>
    {%- endif -%}

    {%- if record.editor -%}
    <dt>Editor</dt>
    <dd>
      {{ record.editor }}
    </dd>
    {%- endif -%}
  </dl>


  {%- include annotations.html reference=record -%}
</article>
